<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Lista de Convênios</h1>
    </div>
    <div id='convenio'>
     <table id="convenios" class="display">
      <thead>
        <tr>
          <th>Número</th>
          <th>Uf</th>
          <!-- <th>Codigosiafi</th> -->
          <th>Município</th>
          <th>Situação</th>
          <!--<th>Numerooriginal</th>-->
          <th>Descrição</th>
          <!--<th>Codigoorgaosuperior</th>-->
          <th>Orgão Superior</th>
          <!--<th>Codigoconcedente</th>
          <th>Nomeconcedente</th>
          <th>Codigoconvenente</th>
          <th>Nomeconvenente</th>
          <th>Tipoenteconvenente</th>-->
          <th>Valor</th>
          <!--<th>Valorliberado</th>-->
          <!--<th>Datapublicacao</th>-->
          <th>Data de Inicio</th>
          <th>Data de Fim</th>
          <!--<th>Valorcontrapartida</th>
          <th>Dataultimaliberacao</th>
          <th>Valorultimaliberacao</th>-->
       </tr>
      </thead>

      <tbody>
        <% @convenios.each do |convenio| %>
         <tr>
           <td><%= convenio.numeroconvenio %></td>
           <td><%= convenio.uf %></td>
           <!--<td><%= convenio.codigosiafi %></td>-->
           <td><%= convenio.nomemunicipio %></td>
           <td><%= convenio.situacaoconvenio %></td>
           <!--<td><%= convenio.numerooriginal %></td>-->
           <td><%= convenio.objetoconvenio %></td>
           <!--<td><%= convenio.codigoorgaosuperior %></td>-->
           <td><%= convenio.nomeorgaosuperior %></td>
           <!--<td><%= convenio.codigoconcedente %></td>
           <td><%= convenio.nomeconcedente %></td>
           <td><%= convenio.codigoconvenente %></td>
           <td><%= convenio.nomeconvenente %></td>
           <td><%= convenio.tipoenteconvenente %></td>-->
           <td><%= convenio.valorconvenio %></td>
           <!--<td><%= convenio.valorliberado %></td>-->
           <!--<td><%= convenio.datapublicacao %></td>-->
           <td><%= convenio.datainiciovigencia %></td>
           <td><%= convenio.datafimvigencia %></td>
           <!--<td><%= convenio.valorcontrapartida %></td>
           <td><%= convenio.dataultimaliberacao %></td>
           <td><%= convenio.valorultimaliberacao %></td>-->
         </tr>
        <% end %>
      </tbody>
      </table>
    </div>
    <br/>
  </div>
</div>


<%= form_tag import_convenios_path, multipart: true do%>
<%= file_field_tag :file%>
<%= submit_tag "Import CSV"%>
<%end%>
