
 
<% render 'form'%>



 
<h1>Lista de Convênios</h1>


<table id="convenios" class="display">

  <thead>
    <tr>
        <th>Número</th>
        <th>Uf</th>
        <th>Município</th>
        <th>Situação</th>
        <th>Descrição</th>
        <th>Orgão Superior</th>
        <th>Valor</th>
        <th>Data de Inicio</th>
        <th>Data de Fim</th>
    </tr>
  </thead>

  <tbody>
    <% @convenios.each do |convenio| %>
      <tr>
        <td><%= convenio.numeroconvenio %></td>
        <td><%= convenio.uf %></td>
        <td><%= convenio.nomemunicipio %></td>
        <td><%= convenio.situacaoconvenio %></td>
        <td><%= convenio.objetoconvenio %></td>
        <td><%= convenio.nomeorgaosuperior %></td>
        <td><%= convenio.valorconvenio %></td>
        <td><%= convenio.datainiciovigencia %></td>
        <td><%= convenio.datafimvigencia %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  
