<div class="container-fluid">
  <div class="whiteTable">
  
<h1 style="margin-left: 18px">Lista de Convênios</h1>

<% render 'form'%>

<table id="convenios" class="display whiteTable">

  <thead>
    <tr>
        <th>Número</th>
        <th>Uf</th>
        <th>Município</th>
        <th>Situação</th>
        <th>Descrição</th>
        <th>Orgão Superior</th>
        <th>Valor</th>
        <th>Data de Inicio</th>
        <th>Data de Fim</th>
    </tr>
  </thead>

  <tbody>
    <% @convenios.each do |convenio| %>
      <tr>
        <td><%= convenio.numeroconvenio %></td>
        <td><%= convenio.uf %></td>
        <td><%= convenio.nomemunicipio %></td>
        <td><%= convenio.situacaoconvenio %></td>
        <td><%= convenio.objetoconvenio %></td>
        <td><%= convenio.nomeorgaosuperior %></td>
        <td><%= convenio.valorconvenio %></td>
        <td><%= convenio.datainiciovigencia %></td>
        <td><%= convenio.datafimvigencia %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
  <%= form_tag import_convenios_path, multipart: true do%>
 -  <%= file_field_tag :file%>
 -  <%= submit_tag "Importar CSV"%>

<%end%>
</div>
</div>