<% render 'form'%>

<h1>Lista de Convênios</h1>


<table id="convenios" class="display">

  <thead>
    <tr>
        <th>Número</th>
        <th>Uf</th>
        <th>Município</th>
        <th>Situação</th>
        <th>Descrição</th>
        <th>Orgão Superior</th>
        <th>Valor</th>
        <th>Mais Detalhes</th>
    </tr>
  </thead>

  <tbody>
    <% @convenios.each do |convenio| %>
      <tr>
        <td><%= convenio.numeroconvenio %></td>
        <td><%= convenio.uf %></td>
        <td><%= convenio.nomemunicipio %></td>
        <td><%= convenio.situacaoconvenio %></td>
        <td><%= convenio.objetoconvenio %></td>
        <td><%= convenio.nomeorgaosuperior %></td>
        <td><%= convenio.valorconvenio %></td>
        
        <td>
            <%=link_to raw("<i class=\"icon-white icon-plus\"> Informações Adicionais </i>"),
                           convenio_path(convenio),
                           class: "btn btn-info  btn-small"%>

        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>


  
