<div class="row">
   <div class=".col-md-3 "> </div>
      <div class=".col-md-6 col-md-offset-3">
         <div class="panel panel-default">
            <div class="panel-body">
<div class="page-header">
   <h1>Dados do Convênio</h1>
</div>
<div class="panel-group" id="accordion">
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseDescricao">
            Descrição do Convênio
            </a>
         </h4>
      </div>
      <div id="collapseDescricao" class="panel-collapse collapse in">
         <div class="panel-body ">
            <table class="table">
               <tbody>
                  <tr>
                     <td class="strong"> Número Convênio:</td>
                     <td><%= @convenios.numeroconvenio %>  </td>
                  </tr>
                  <tr>
                     <td class="strong">Código Siafi: </td>
                     <td><%= @convenios.codigosiafi %> </td>
                  </tr>
                  <tr>
                     <td class="strong">Número do Convênio:</td>
                     <td><%= @convenios.numerooriginal %></td>
                  </tr>
                  <tr>
                     <td class="strong">Objeto do Convênio: </td>
                     <td><%= @convenios.objetoconvenio %> </td>
                  </tr>
                  <tr>
                     <td class="strong">Município:</td>
                     <td><%= @convenios.nomemunicipio %> <%= @convenios.uf %></td>
                  </tr>
                  <tr>
                     <td class="strong">Situação do Convênio:</td>
                     <td> <%= @convenios.situacaoconvenio %></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseData">
            Datas do Convênio
            </a>
         </h4>
      </div>
      <div id="collapseData" class="panel-collapse collapse">
         <div class="panel-body">
            <table class="table">
               <tbody>
                  <tr>
                     <td class="strong">Data de publicação:</td>
                     <td><%= @convenios.datapublicacao %></td>
                  </tr>
                  <tr>
                     <td class="strong">Data de Início de Vigência: </td>
                     <td><%= @convenios.datainiciovigencia %> </td>
                  </tr>
                  <tr>
                     <td class="strong">Data de Fim de Vigência:  </td>
                     <td><%= @convenios.datafimvigencia %></td>
                  </tr>
                  <tr>
                     <td class="strong">Data da Ultima Liberação: </td>
                     <td><%= @convenios.dataultimaliberacao %> </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdministrativo">
            Informações Administrativas do Convênio
            </a>
         </h4>
      </div>
      <div id="collapseAdministrativo" class="panel-collapse collapse">
         <div class="panel-body">
            <table class="table">
               <tbody>
                  <tr>
                     <td class="strong">         Código do Órgão Superior: </td>
                     <td><%= @convenios.codigoorgaosuperior %>  </td>
                  </tr>
                  <tr>
                     <td class="strong">        Nome do Órgão Superior:  </td>
                     <td><%= @convenios.nomeorgaosuperior %> </td>
                  </tr>
                  <tr>
                     <td class="strong">        Código do Concedente: </td>
                     <td><%= @convenios.codigoconcedente %> </td>
                  </tr>
                  <tr>
                     <td class="strong">        Nome do Concedente: </td>
                     <td><%= @convenios.nomeconcedente %> </td>
                  </tr>
                  <tr>
                     <td class="strong">        Código do Convenente: </td>
                     <td><%= @convenios.codigoconvenente %></td>
                  </tr>
                  <tr>
                     <td class="strong">        Nome do Convenente: </td>
                     <td> <%= @convenios.nomeconvenente %></td>
                  </tr>
                  <tr>
                     <td class="strong">        Tipo do Ente de Convenente: </td>
                     <td><%= @convenios.tipoenteconvenente %></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div class="panel panel-default">
      <div class="panel-heading">
         <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Valores do Convênio
            </a>
         </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
         <div class="panel-body">
            <table class="table">
               <tbody>
                  <tr>
                     <td class="strong">         Valor do Convênio: </td>
                     <td><%= @convenios.valorconvenio %>  </td>
                  </tr>
                  <tr>
                     <td class="strong">               Valor Liberado:  </td>
                     <td><%= @convenios.valorliberado %> </td>
                  </tr>
                  <tr>
                     <td class="strong">              Valor de Contrapartida: </td>
                     <td><%= @convenios.valorcontrapartida %></td>
                  </tr>
                  <tr>
                     <td class="strong">Valor da Última Liberação:  </td>
                     <td><%= @convenios.valorultimaliberacao %> </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <br>
   <%= link_to raw("<i class=\"fa fa-arrow-circle-left\"> Voltar aos Convênios </i>"),
      convenios_url,:target => "_self",
      class: "btn btn-primary  btn-small"%>

   <%= link_to raw("<i class=\"fa fa-exclamation-triangle\"> Reclamar!! </i>"),new_reclamacao_path(:convenio_id => @convenio.id), class: "btn btn-primary  btn-small"%>
   
   <%= link_to raw("<i class=\"fa fa-unlock\"> Reclamações?</i>"),
      associate_path(@convenio), class: "btn btn-primary  btn-small"%>

   <%= link_to raw("<i class=\"fa fa-facebook-square\"> Compartilhar </i>"),
      "http://www.facebook.com/sharer.php?u=convenios_url(@convenios)",
      #"http://www.facebook.com/sharer.php?u=http://localhost:3000/convenios/@convenios_id/"
      :target => "_blank" ,class: "btn btn-primary btn-small"%>
   
   <%= link_to raw("<i class=\"glyphicon glyphicon-exclamation-sign\"> Criar Abaixo Assinado </i>"),
      info_path(:convenio_id => @convenio.id),
      class: "btn btn-primary  btn-small"%>
   </table>
</div>
</div>
</div>
            </div>
         </div>
      </div>
</div>
