<h1>Dados do Convênio</h1>
  
<div class="panel-group" id="accordion">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseDescricao">
          Descrição do Convênio
        </a>
      </h4>
    </div>
    <div id="collapseDescricao" class="panel-collapse collapse in">
      <div class="panel-body">
          Número Convênio: <%= @convenios.numeroconvenio %> <br>
          Código Siafi: <%= @convenios.codigosiafi %> <br>
          Número do Convênio: <%= @convenios.numerooriginal %> <br>
          Objeto do Convênio: <%= @convenios.objetoconvenio %> <br>
          Município: <%= @convenios.nomemunicipio %> / <%= @convenios.uf %> <br>
          Situação do Convênio: <%= @convenios.situacaoconvenio %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseData">
          Datas do Convênio
        </a>
      </h4>
    </div>
    <div id="collapseData" class="panel-collapse collapse">
      <div class="panel-body">
        Data de publicação: <%= @convenios.datapublicacao %> <br>
        Data de Início de Vigência: <%= @convenios.datainiciovigencia %> <br>
        Data de Fim de Vigência: <%= @convenios.datafimvigencia %> <br>
        Data da Ultima Liberação: <%= @convenios.dataultimaliberacao %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdministrativo">
          Informações Administrativas do Convênio
        </a>
      </h4>
    </div>
    <div id="collapseAdministrativo" class="panel-collapse collapse">
      <div class="panel-body">
        Código do Órgão Superior: <%= @convenios.codigoorgaosuperior %> <br>
        Nome do Órgão Superior: <%= @convenios.nomeorgaosuperior %> <br>
        Código do Concedente: <%= @convenios.codigoconcedente %> <br>
        Nome do Concedente: <%= @convenios.nomeconcedente %> <br>
        Código do Convenente: <%= @convenios.codigoconvenente %> <br>
        Nome do Convenente: <%= @convenios.nomeconvenente %> <br>
        Tipo do Ente de Convenente: <%= @convenios.tipoenteconvenente %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Valores do Convênio
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        Valor do Convênio: <%= @convenios.valorconvenio %> <br>
        Valor Liberado: <%= @convenios.valorliberado %> <br>
        Valor de Contrapartida: <%= @convenios.valorcontrapartida %> <br>
        Valor da Última Liberação <%= @convenios.valorultimaliberacao %>
      </div>
    </div>
  </div>

  <br>

  <%= link_to raw("<i class=\"icon-white icon-arrow-left\"> Voltar </i>"),
                           convenios_url,:target => "_self",
                           class: "btn btn-primary  btn-small"%>

</div>