<div class="form-divs">
<div class="border-form-div">
<%= simple_form_for(:usuario, :url => session_path(:usuario)) do |f| %>

    <div id="form-sign-in">
      <div class="content">
        <div class="row">
          <div class="login-form">
            <h3>Login</h3>
            <form action="">
              <fieldset>
                <div class="clearfix">
                  <%= f.text_field :login, :autofocus => true, :label => 'Usuário', :placeholder => 'Login',:size => 35%>
                </div>
                <div class="clearfix">
                  <%= f.password_field :password, :label => 'Senha', :placeholder => 'Senha',:size => 35 %>
                </div>
                <div class="center">
                <%= button_tag :class => 'fa btn btn-info ' ,:id => 'login' do %>
                    <i class='icon-white icon-upload'></i> Login
                <% end %>

                <%=link_to raw("<i class=\"icon-white icon-ok\"> Cadastre-se </i>"),
                           new_usuario_registration_path,
                           class: "fa btn btn-warning  btn-small"%>
<br>  
                <%= link_to " Entre com Facebook", usuario_omniauth_authorize_path(:facebook) ,
                            class: "fa fa-facebook-square btn  btn-primary  btn-small icon-thumbs-up  margin", id: "btn-form-sign-in-face" %>
              </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

<% end %>
</div>
</div>