<h1>Lista de Usuários</h1>

<table border = "1">
	<thead> 
		<tr>
			<td>Nome</td>
			<td>Cpf</td>
			<td>Email</td>
			<td>Editar usuário</td>
			<td>Deletar usuário</td>
		</tr>
	</thead>

	<tbody>
		<% @usuarios.each do |usuarios| %>
			
			<tr> 
				<td> <%= usuarios.nome %>  </td>
				<td> <%= usuarios.cpf %>  </td>
				<td> <%= usuarios.email %>  </td>
				<td><%= link_to 'Editar usuário', edit_usuario_path(usuarios) %></td>
				<td><%= link_to 'Excluir' , usuarios , method: :delete , data: {confirme: 'Você tem certeza'}%> </td>
			</tr>


		<% end %>
	</tbody>
</table>

<%= link_to 'Cadastrar usuário', new_usuario_path %>

