<div class	="container">
	<h1 class = "text-center">Lista de Usuários</h1>
	<table class = "table table-bordered">
		<thead> 
			<tr>
				<td>Nome</td>
				<td>Cpf</td>
				<td>Email</td>
				<td>Editar usuário</td>
				<td>Deletar usuário</td>
			</tr>
		</thead>
	 
		<tbody>
			<% @usuarios.each do |usuarios| %>

				<tr> 
					<td> <%= usuarios.nome %>  </td>
					<td> <%= usuarios.cpf %>  </td>
					<td> <%= usuarios.email %>  </td>

					<td> 
						<%=link_to raw("<i class=\"icon-white icon-edit \"> Editar Usuário </i>"),                         edit_usuario_path(usuarios) , class: "btn btn-default  btn-info"%>
	 
					</td>

					<td> 
	 
						<%=link_to raw("<i class=\"icon-white icon-remove\"> Deletar Usuário </i>"),usuarios , method: :delete ,data: {confirme: 'Você tem certeza'} , class: "btn btn-default  btn-danger"%>
	 
					</td>
				</tr>
	 
	 
			<% end %>
		</tbody>
	</table>
	 
	<%=link_to raw("<i class=\"icon-white icon-share\"> Cadastrar novo Usuário </i>"), new_usuario_path , class: "btn  btn-success"%>
</div>